# Python / Django
venv/
__pycache__/
*.sqlite3
*.log
.env
.env.local
.env.*
*.pyc
media/
core-backend/media/

# Node / Next.js / Turborepo
node_modules/
.next/
out/
dist/
*.tsbuildinfo
npm-debug.log*
.turbo/
